<ons-page id="menuPage">
  <ons-list id="default-category-list">
    <ons-list-header>Default</ons-list-header>
    <ons-list-item tappable>
      <div class="left">
        <ons-input type="radio" name="categoryGroup" input-id="r-all" checked></ons-input>
      </div>
      <label class="center" for="r-all">All</label>
    </ons-list-item>
    <ons-list-item tappable category-id="">
      <div class="left">
        <ons-input type="radio" name="categoryGroup" input-id="r-no"></ons-input>
      </div>
      <label class="center" for="r-no">No category</label>
    </ons-list-item>
  </ons-list>
  <ons-list id="custom-category-list">
    <ons-list-header>Custom categories</ons-list-header>
  </ons-list>
</ons-page>
